#flag {
    position: absolute;
    width: 40%;
    height: 30%; 
    left: 60%;
    top: 0%;
    z-index: 0;
}

#welcome {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
    left: 10%;
    z-index: 10;
    width: 50%;
}

#info {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: white;
    left: 30%;
    top: 20%;
    z-index: 10;
    width: 50%;
}

#fox {
    position: absolute;
    top: 50%;
    z-index: 5;
    left: 5%;
    width: 40%;
    height: 37%;
}

#fox_text {
    position: absolute;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    left: 50%;
    top: 68%;
    z-index: 6;
}

#white_rect_1 {
width: 95%;
position: absolute;
height: 45%;
top: 46%;
background: white;
}

body {
    background-color: #142638;
}